.section__form--buttonDone {
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: rgb(17, 173, 17);
  border: none;
  text-decoration: none;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;
  transition: 1s;
  cursor: pointer;
}

.section__form--buttonDone:hover {
  background-color: hsl(120, 82%, 45%);
}

.section__form--buttonRemove {
  width: 30px;
  height: 30px;
  background-color: red;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  cursor: pointer;
}

.section__form--buttonRemove:hover {
  background-color: hsl(0, 100%, 70%);
}

.section__list {
  padding: 20px;
  background-color: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid #ddd;
}

.section__list--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 30px;
  word-break: break-word;
  padding: 10px 20px 10px 20px;
  border-bottom: 1px solid #eee;
}

.section__list--doneItem {
  text-decoration: line-through;
  display: flex;
  text-align: start;
}

.section__list--hideItem {
  display: none;
}

.section__list--text {
  display: flex;
  flex-grow: 1;
  align-self: center;
  margin: 0px 20px;
}
